@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }


/*Cadastro*/


body {
  margin: 0;
  padding: 0;
   font-family: "lora", serif;
  background-color: black;
}

:root {
  --tamanho-header: 90px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 0px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #fb521e;
}


.buttons {
    width: 240%;
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: #fb521e;
    color: white;
    font-weight: bold;
    margin-left: 120%;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s ease;
    transition: all 1s ease;
}

.buttons:hover {
    background-color: #ff8533;
      color: #000000;
      box-shadow: 0 0 15px #FF6600;
    }

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header .container .bubu{
    margin: 2% -10%;
}

.header a {
  font-size: 20px;
  text-decoration: none;
  color: #FF6600;
  font-family: "lora", serif;
  margin-left: 50%;
}
.header .porvez:hover a{
    color: #fff;
      text-shadow: 0 0 10px #FF6600;
}


.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../imagem/cadastro.jpg');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 95%;
}

.card {
  width: 40%;
  background-color: #e5e5e5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #000000;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  margin-top: 4%;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #fb521e;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}


.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #000000;
  width: 140px;
  height: 35px;
  align-self: center;
  margin-top: 20px;
}

    .botao:hover{
        transform: 2s;
        color: #ffffff;
        box-shadow: 0 0 15px #000000;
    }

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 350px;
  height: 110px;
  position: fixed;
  border-radius: 4px;
  border: #fb521e 3px solid;
  padding:0% 0.5% 0% 0.5%;
  margin-top: 0.3%;
  margin-right: 39%;
}

.card_erro #mensagem_erro{
  font-weight: 100;
  font-size: 18px;
}

.alerta_erroL{
  display: flex;
  justify-content: flex-end;
}

.card_erroL {
  display: none;
  background-color: #fff;
  color: black;
  width: 290px;
  position: fixed;
  border-radius: 4px;
  border: #fb521e 3px solid;
  padding:1% 1.5%;
  margin-top: 2%;
  margin-right: 40%;
}

.card_erroL #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}



.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #fb521e;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #000000;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}


    /*Login*/

 .containerL{
        position: absolute;
       margin: 180px -250px;
    }

 .cardL{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    padding: 45px;
    background-color: #fb521e;
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
    font-family: "lora", serif,;
    }

    .heroL {
    position: fixed;
    display: flex;
    align-items: center;
    width: 120%;
    height: 190vh;
    overflow: hidden;
   margin-top: 900px;
}

.imagemheroL {
    width: 100%;
    height: 92vh;
    margin-top: -167.5px;
    border-bottom: solid 4px #fb521e;
}
