@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

        ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color:#FF6600;
    border-radius: 10px;
}
/*Home*/
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
     font-family: "lora", serif;
    background-color: #000000;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 25px;
    background-color: #000000;
    font-family: "lora", serif;
    border-bottom: solid 3px #e87400;
    z-index: 2;
}

.logo img {
    width: 100%;
    height: 150%;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 155%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin-left: 24%;
}

.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 0px;
    margin-left: 50px;
    color: #e87400;
     font-family: "lora", serif;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    transition: all 1s ease;

}

.nav-item-cadastro:hover a{
    color: #fff;
      text-shadow: 0 0 10px #FF6600;
}



.nav-item:hover a {
   color: #fff;
      text-shadow: 0 0 10px #FF6600;
    
}


.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 4px;
    margin-right: 2%;
    margin-left: -16%;
}

.buttons {
    width: 70%;
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: #e87400;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s ease;
    transition: all 1s ease;
}

.buttons:hover {
    background-color: #ffa033;
      color: #000000;
      box-shadow: 0 0 15px #FF6600;
    }

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
   
}

.imagemhero {
    width: 100%;
    height: 80vh;
    margin-top: -200px;
    border-bottom: solid 3px #e87400;
}

.about {
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    border: solid #FF6600;
    border-radius: 10px;
    margin: -5% 10% 5%;
    background-color: #34343461;
}

.abouth2 {
    font-size: 30px;
    margin-top: -8%;
    margin-bottom: 7%;
    color: #FF6600;
    font-family: "lora", serif;
    text-align: center;
}

.aboutText {

    width: 50%;
    font-size: 20px;
    line-height: 1.5;
    justify-content: center;
    color: #FF6600;
    font-family: "lora", serif;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.benefit {
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    background-color: #000000;
}

.card {
    display: inline-block;
    width: 300px;
    height: 20%;
    padding: 15px;
    margin: 10px;
    background-color: #FF6600;
    color: #efe8e3;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "lora", serif;
}

.temp1{
    display: block;
    text-decoration: none;
    color:#000000;
    font-family: "lora", serif;
    font-size: 20px;
    padding: 14px 50px;
    cursor: pointer;
    transition:0.5s ease;
}

.temp1:hover{
     background-color: #ffa033;
      color: #000000;
      box-shadow: 0 0 15px #FF6600;
}

.card #card1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card #card2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card #card3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card #card4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 60px;
}

.card p {
    font-size: 22px;
    line-height: 2.0;
    display: flex;
    color: #000000;
    margin-bottom: 80px;
    text-align: center;
}
.benefith2
{
  display: block;
    font-size: 30px;
    margin-bottom: 20px;
    color: #FF6600;
    font-family: "lora", serif;
    text-align: center;
}

.selectbutton{
  margin-right: -500px;
}
.ctxButton {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FF6600;
    width: 50%;
    font-size: 1.1rem;
    color: #efe8e3;
    border: none;
    padding: 14px 50px;
    margin-bottom: 100px;
    margin-top: 70px;
    margin-right: 800px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition:0.5s ease;
}

.ctxButton:hover {
  background-color: #ffa033;
      color: #000000;
      box-shadow: 0 0 15px #FF6600;
}


/* FOOTER */
footer {
  border-top: solid #FF6600;
    width: 100%;
    background-color: #000000;
    color: #e87400;
    padding: 40px 80px;
    font-family: "lora", serif;
    
   
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}


.footer-logo img {
    width: 360px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -100px;
}
 
.footer-painel a {
  display: flex;
  font-size: 30px;
    color: #f76700;
    margin: 5px 0;
    text-decoration: none;
}

.footer-painel a:hover {
    text-decoration: underline;
}

/*Historia*/



.about2 {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px;
    border: solid #FF6600;
    border-radius: 10px;
    margin: -5% 10% 5%;
    background-color: #34343461;
}

.abouth22 {
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 7%;
    color: #FF6600;
    font-family: "lora", serif;
    text-align: start;
}

.aboutText2 {

    width: 50%;
    font-size: 25px;
    line-height: 1.5;
    justify-content: start;
    color: #ffffff;
    font-family: "lora", serif;
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 50px;
}




/* FOOTER */

.mensagem{
    display: flex;
    justify-content: center;
    color: #FF6600;
}

/*Cadastro*/


.heroC {
    position: fixed;
    display: flex;
    align-items: center;
    width: 120%;
    height: 190vh;
    overflow: hidden;
   margin-top: 900px;
}

.imagemheroC {
    width: 100%;
    height: 92vh;
    margin-top: -167.5px;
    border-bottom: solid 4px #e87400;
}

    .containerC{
        position: absolute;
       margin: 100px -250px;
    }

    .bemvindo{
        margin: 0px 0px 10px;
    }

    .campo{
        margin: 15px;
    }
    .campo1{
        margin-top: -25px;
    }
    

    .cardC{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 420px;
    padding: 50px;
    background-color: #FF6600;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
    font-family: "lora", serif,;
    }

    input{
        width: 350px;
        height: 35px;
        margin: 5px;
        
    }

    .botao{
        border:#000000;
        border-radius: 20px;
        background-color: #000000;
        color: #fff;
        margin-top: 10px;
        width: 150px;
        height: 40px;
    }

    .botao:hover{
        background-color: #ff6d3388;
        color: #000000;
        box-shadow: 0 0 15px #FF6600;
    }

    .confirmacao_senha_input{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*Login*/

 .containerL{
        position: absolute;
       margin: 100px -250px;
    }

.cardL